---
http_interactions:
- request:
    method: post
    uri: http://spacewalk.elevenware.com/rpc/api
    body:
      encoding: US-ASCII
      string: ! '<?xml version="1.0" ?><methodCall><methodName>auth.login</methodName><params><param><value><string>admin</string></value></param><param><value><string>admin</string></value></param></params></methodCall>

'
    headers:
      content-type:
      - text/xml; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - text/xml;charset=ISO-8859-1
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="UTF-8"?><methodResponse><params><param><value><string>1664321x77235c35e15b4c025afdcd959914a5c3</string></value></param></params></methodResponse>
  recorded_at: Wed, 01 May 2013 11:32:45 GMT
- request:
    method: post
    uri: http://spacewalk.elevenware.com/rpc/api
    body:
      encoding: US-ASCII
      string: ! '<?xml version="1.0" ?><methodCall><methodName>system.deleteSystems</methodName><params><param><value><string>1664321x77235c35e15b4c025afdcd959914a5c3</string></value></param><param><value><array><data><value><i4>1000021466</i4></value></data></array></value></param></params></methodCall>

'
    headers:
      content-type:
      - text/xml; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - text/xml;charset=ISO-8859-1
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="UTF-8"?><methodResponse><params><param><value><i4>1</i4></value></param></params></methodResponse>
  recorded_at: Wed, 01 May 2013 11:32:45 GMT
recorded_with: VCR 2.4.0
