---
http_interactions:
- request:
    method: post
    uri: http://spacewalk.elevenware.com/rpc/api
    body:
      encoding: US-ASCII
      string: ! '<?xml version="1.0" ?><methodCall><methodName>auth.login</methodName><params><param><value><string>admin</string></value></param><param><value><string>admin</string></value></param></params></methodCall>

'
    headers:
      content-type:
      - text/xml; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - text/xml
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="UTF-8"?><methodResponse><params><param><value><string>291x4fced64491ef2c8e34032e797bb6c9bc</string></value></param></params></methodResponse>
  recorded_at: Wed, 24 Apr 2013 09:05:10 GMT
- request:
    method: post
    uri: http://spacewalk.elevenware.com/rpc/api
    body:
      encoding: US-ASCII
      string: ! '<?xml version="1.0" ?><methodCall><methodName>system.listSystems</methodName><params><param><value><string>291x4fced64491ef2c8e34032e797bb6c9bc</string></value></param></params></methodCall>

'
    headers:
      content-type:
      - text/xml; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - text/xml
    body:
      encoding: US-ASCII
      string: ! '<?xml version="1.0" encoding="UTF-8"?><methodResponse><params><param><value><array><data><value><struct><member><name>id</name><value><i4>1000010010</i4></value></member>

        <member><name>name</name><value><string>localhost.localdomain</string></value></member>

        <member><name>last_checkin</name><value><dateTime.iso8601>20130423T01:11:36</dateTime.iso8601></value></member>

        </struct>

        </value><value><struct><member><name>id</name><value><i4>1000010011</i4></value></member>

        <member><name>name</name><value><string>localhost.localdomain</string></value></member>

        <member><name>last_checki[...]
