---
http_interactions:
- request:
    method: post
    uri: http://spacewalk.elevenware.com/rpc/api
    body:
      encoding: US-ASCII
      string: |
        <?xml version="1.0" ?><methodCall><methodName>auth.login</methodName><params><param><value><string>admin</string></value></param><param><value><string>admin</string></value></param></params></methodCall>
    headers:
      content-type:
      - text/xml; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - text/xml;charset=ISO-8859-1
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="UTF-8"?><methodResponse><params><param><value><string>1665209xa54c21fd8581ddc7a326f9664944c323</string></value></param></params></methodResponse>
  recorded_at: Wed, 01 May 2013 14:53:58 GMT
- request:
    method: post
    uri: http://spacewalk.elevenware.com/rpc/api
    body:
      encoding: US-ASCII
      string: |
        <?xml version="1.0" ?><methodCall><methodName>channel.software.regenerateYumCache</methodName><params><param><value><string>1665209xa54c21fd8581ddc7a326f9664944c323</string></value></param><param><value><string>my-awesome-channel</string></value></param></params></methodCall>
    headers:
      content-type:
      - text/xml; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - text/xml;charset=ISO-8859-1
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="UTF-8"?><methodResponse><params><param><value><i4>1</i4></value></param></params></methodResponse>
  recorded_at: Wed, 01 May 2013 14:53:58 GMT
- request:
    method: post
    uri: http://spacewalk.uk.specsavers.com/rpc/api
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" ?><methodCall><methodName>auth.login</methodName><params><param><value><string>jimmi@ems</string></value></param><param><value><string>password</string></value></param></params></methodCall>
    headers:
      content-type:
      - text/xml; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - text/xml
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><methodResponse><params><param><value><string>463811x9c27d088cd9fb1b586171f306f2d697b</string></value></param></params></methodResponse>
  recorded_at: Mon, 02 Dec 2013 11:02:18 GMT
- request:
    method: post
    uri: http://spacewalk.uk.specsavers.com/rpc/api
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" ?><methodCall><methodName>channel.software.regenerateYumCache</methodName><params><param><value><string>463811x9c27d088cd9fb1b586171f306f2d697b</string></value></param><param><value><string>my-awesome-channel</string></value></param></params></methodCall>
    headers:
      content-type:
      - text/xml; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - text/xml
    body:
      encoding: UTF-8
      string: '<?xml version="1.0" encoding="UTF-8"?><methodResponse><fault><value><struct><member><name>faultCode</name><value><int>-210</int></value></member><member><name>faultString</name><value><string>redstone.xmlrpc.XmlRpcFault:
        No such channel: my-awesome-channel</string></value></member></struct></value></fault></methodResponse>'
  recorded_at: Mon, 02 Dec 2013 11:02:18 GMT
recorded_with: VCR 2.8.0
